@import './responsive.scss';
$base-color: #F4F6FD;
$border-color: #82A2F4;
$th-color:rgba(47,137,252,1);
$bg-th-color: whitesmoke;
* input:focus {
   outline: none;
}
.blockToursList {
    position: absolute;
    //top: 100px;
    //right: 0px;
    width: 80%;
    height: 100%;
    background : white;
}

//--------------------------------------STYLE EDIT USERS---------------------------------------

.blockEditToursList {
    position: absolute;
    //top: 200px;
    //left: 40%;
    width: 30%;
    height: 50%;
    background: $base-color;
    &__inputItem {
        position: absolute;
        top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inputItem input {
        //position: absolute;
        margin-bottom: 20px;
    }
    &__buttonSave {
        position: absolute;
        top: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
}
.blockTourListMain {
     position: absolute;
     //left: 230px;
     width: 95%;
     //background: orange;
     max-height: 480px;
     top: 100px;
     overflow-x: auto;
     overflow-y: auto;
     font-size: 12px;
     box-shadow: rgba(12, 104, 197, 0.2) 0px 8px 24px;
     //===============================================NewStyle==================
     &__table {
        width: 173%;
        height: 100%;
        //background: gray;
        //border: 1px dashed black;
        &--imageUrl {
            position: sticky;
           // color: white;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
         
        }
        &--place {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--tourName {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--dayAmount {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--transports {
            position: sticky;
            color:  $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--price {
            position: sticky;
            color:  $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--startDay {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--descriptions {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--applyPassenger {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--introduction {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--imageIntroduction {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--titleImage {
            position: sticky;
            color:  $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--headActionIcon {
            position: sticky;
            top: 0;
            background: $bg-th-color;
            z-index: 10;
        }
        &--headActionIcon1 {
            position: sticky;
            top: 0;
            background: $bg-th-color;
            z-index: 10;
        }
        &--itemActionEdit {
            width: 103px;
        }
     }
     &__listItem:hover {
        background: gray;
        opacity: 0.8;
        transition-duration: 0.6s;
        color: whitesmoke;
     }
     &__listItem {
        // background: blanchedalmond;
        border-bottom: 1px solid gray;
         &--itemImage {
             width: 100px;
             height: 100px;
             //background: black;
             //border-bottom: 1px solid gray;
         }
         &--itemImage img {
             width: 200px;
             height: 150px;
         }
         &--itemPlace {
            padding: 15px;
             width: 100px;
             height: 50px;
             //background: blue;
             //border-bottom: 1px solid gray;
         }
         &--itemName {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // white-space: pre-wrap;
            padding: 20px 20px 5px;
            width: 300px;
            height: 50px;
            //border-bottom: 1px solid gray;
            //@function: blue;
        }
        &--itemDayAmount {
            padding: 20px 20px 5px;
            width: 150px;
            height: 50px;
            //border-bottom: 1px solid gray;
        }
        &--itemTransports {
            padding: 20px 20px 5px;
            width: 100px;
            height: 50px;
            //border-bottom: 1px solid gray;  
        }
        &--itemPrice {
            padding: 20px 20px 5px;
            width: 120px;
            height: 50px;
            //border-bottom: 1px solid gray;
        }
        &--itemStartDay {
            padding: 20px 10px 5px;
            width: 150px;
            height: 50px;
            //border-bottom: 1px solid gray; 
        }
        &--itemDescriptions {
            padding: 20px 20px 5px;
            width: 310px;
            height: 50px;
            //border-bottom: 1px solid gray; 
        }
        &--itemApplyPassenger {
            padding: 20px 15px 5px;
            width: 135px;
            height: 50px;
            //border-bottom: 1px solid gray;  
        }
        &--itemIntroduction {
            // border : 1px solid $border-color;
            padding: 20px 5px 5px;
            width: 100px;
            height: 50px;
            white-space: nowrap; 
            max-width: 120px; 
            overflow: hidden;
            text-overflow:ellipsis;
            //border-bottom: 1px solid gray;
         }
        &--itemImageIntroduction {
            width: 100px;
            height: 100px;
            //border-bottom: 1px solid gray; 
        }
        &--itemImageIntroduction img{
            width: 200px;
            height: 150px;
            //border-bottom: 1px solid gray; 
        }
        &--itemTitleImage {
            padding: 20px 20px 5px;
            width: 300px;
            height: 50px;
            //border-bottom: 1px solid gray;
        }

     }
     &__searchItem {
        position: absolute;
        left: 18%;
        top: 30px;
           &--inputItem input{
               border-left: none;
               border-right: none;
               border-top: none;
           }
        
     }
     &__selectTour {
        position: absolute;
        left: 38%;
        top: 33px;
        width: 200px;
           &--selectItem {
               border-left: none;
               border-right: none;
               border-top: none;
           }
        
     }

     &__linkToAddTour {
           position: absolute;
           top: 20px;
           right: 2%;
           width: 45px;
           height: 45px;
     }
     //===============================================NewStyle==================
    
}

.blockEditTour {
    position: absolute;
    //top: 140px;
    //left: 32%;
    width: 750px;
    height: 450px;
    //background: grey;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__title {
        position: relative;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        // background: yellow;
    }
    &__formEdit {
        position: absolute;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background: rebeccapurple;
        &__labelLeft {
            position: relative;
            left: -20px;
        }
      
        &__inputLeftItem {
            position: relative;
            margin-top: 20px;
            left: -22%;
        }
        &__inputImageUrl {
            position: relative;
            left: 19px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputPlace {
            position: relative;
            left: 50px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputTourName {
            position: relative;
            left: 44px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputDay {
            position: relative;
            left: 60px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        //----------------------------Right Item--------------------------------------
        &__inputRightItem {
            position: relative;
            margin-top: 20px;
            left: 10%;
        }
        &__inputTransports {
            position: relative;
            left: 20px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputPrice {
            position: relative;
            left: 59px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputStart {
            position: relative;
            left: 62px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputApply {
            position: relative;
            left: 53px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputDescriptions {
            position: relative;
            left: 0px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputIntroduction {
            position: relative;
            left: 0px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputImageIntroduction {
            position: relative;
            left: 20px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputTitleImage {
            position: relative;
            left: 77px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputDatepicker {
            position: relative;
            left: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
       
    }
    
    &__buttonSave {
        position: absolute;
        top: 310px;
        width: 100px;
        height: 50px;
    }
    &__buttonSave:hover {
        cursor: pointer; 
        background: rgb(9, 206, 75);
        border-radius: 5px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

.blockNewTour {
    position: absolute;
    top: 0px;
    //top: 135px;
    //left: 30%;
    width: 100%;
    height: 1300px;
    border: 2px dashed blueviolet;
    //background: grey;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
   
    &__formNew {
        position: absolute;
        top: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 1px dashed red;
        // background: rebeccapurple;
        &__title {
            position: absolute;
            top: 30px;
            color: rgb(55, 55, 241);
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
            // background: yellow;
        }
        &__title h2 {
            color: blue;
            font-weight: 900;
            // background: yellow;
        }
        &__leftItem {
           position: absolute;
           //background: red;
           //border: 1px dashed red;
           top: 110px;
           //left: 0;
        }
  
        &__inputLeftItem {
            position: relative;
            margin-top: 20px;
            top: 0;
            left: 5px;
        }
        &__lablelSelectTour {
            position: relative;
            left: 27px;
            font-weight: 600;
        }
        &__selectTour {
            position: relative;
            border-top: none;
            border-left: none;
            border-right: none;
            top: -5px;
            left: 34px;
        }
        &__labelImageUrl {
            position: relative;
            left: 34px;
            font-weight: 600;
        }
        &__inputImageUrl {
            position: relative;
            left: 42px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelPlace {
            position: relative;
            left: 68px;
            font-weight: 600;
        }
        &__inputPlace {
            position: relative;
            left: 76px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelTourName {
            position: relative;
            left: 26px;
            font-weight: 600;
        }
        &__inputTourName {
            position: relative;
            top: -8px;
            left: 34px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelDay {
            position: relative;
            left: 15px;
            font-weight: 600;
        }
        &__inputDay {
            position: relative;
            left: 22px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        
        &__labelApply {
            position: relative;
            left: 0px;
            font-weight: 600;
        }
        &__inputApply {
            position: relative;
            left: 9px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelIntroduction {
            position: relative;
            left: 13px;
            font-weight: 600;
        }
        &__inputIntroduction {
            position: relative;
            left: 22px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        //----------------------------Middle Item--------------------------------------
        &__middleItem {
            position: absolute;
           // padding: 40px 0px 20px;
            top: 450px
            //border: 1px solid blue;
            //top: 45px;
            //left: 32%;
            //right: 0;
            //@debug: 39px;
            //left: -85px;  
        }
        &__inputMiddleItem {
            position: relative;
            margin-top: 20px;
            //top: 0;
            left: 10px;
        }
        &__labelDescriptions {
            position: relative;
            left: 50px;
            font-weight: 600;
        }
        &__inputDescriptions1 {
            position: relative;
            left: 60px;
            top: -5px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputDescriptions2 {
            position: relative;
            left: 150px;
            top: -5px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__inputDescriptions3 {
            position: relative;
            left: 150px;
            top: -5px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelTransports {
            position: relative;
            left: 62px;
            font-weight: 600;
        }
        &__inputTransports {
            position: relative;
            left: 75px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 250px;
        }
        &__labelPrice {
            position: relative;
            left: 100px;
            font-weight: 600;
        }
        &__inputPrice {
            position: relative;
            left: 115px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelStart {
            position: relative;
            left: 12px;
            font-weight: 600;
        }
        
        &__labelImageIntroduction {
            position: relative;
            left: -3px;
            font-weight: 600;
        }
        &__inputImageIntroduction {
            position: relative;
            left: 10px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        &__labelTitleImage {
            position: relative;
            left: 54px;
            font-weight: 600;
        }
        &__inputTitleImage {
            position: relative;
            left: 69px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        //---------------------------------------------------------
        &__blockDatePicker {
            position: relative;
           // background: burlywood;
           // top: 55px;
            top: 325px; 
           // right: 145px;
            display: flex;
            width: 200px;
            height: 300px;
            //background: blue;
            align-content:space-between;
            &__leftItem {
                width: 100px;
                //background: #f79321;
            }
            &__leftItem label{
               font-weight: 600;
               margin-left: 10px;
            }
            &__inputLeftItem {
                &--inputDatepicker {
                    position: relative;
                    //left: 30px;
                    width: 85px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }
            &__rightItem {
                width: 100px;
                //background: #f79321;
            }
            &__rightItem label{
               font-weight: 600;
               margin-left: 10px;
            }
            &__inputRightItem {
                &--inputDatepicker {
                    position: relative;
                    //left: 30px;
                    width: 85px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }
        }
        
        &__inputDatepicker1 {
            position: relative;
            left: 146px;
            width: 85px;
            top: -8px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
    &__buttonSave1 {
        position: relative;
        top: 50px;
        width: 200px;
        height: 50px;
    }
    &__buttonSave1:hover {
        cursor: pointer;
    }
    &__buttonSave2 {
        position: relative;
        top: 100px;
        left: -250px;
        background: rebeccapurple;
        width: 200px;
        height: 50px;
    }
    &__buttonSave2:hover {
        cursor: pointer;
    }
    &__buttonSave {
        position: absolute;
        top: 1050px;
        width: 200px;
        height: 50px;
        background: rgba(47,137,252,1);
        background: -moz-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(47,137,252,1)), color-stop(100%, rgba(94,255,201,1)));
        background: -webkit-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: linear-gradient(135deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
        border-radius: 5px;
        font-weight: 700;
        color: white;
        transition-duration: 0.4s;
    }
    &__buttonSave:hover {
        color: white;
        cursor: pointer; 
        background-color: #008CBA;
        border-radius: 5px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    &__inputDayRange {
        position: relative;
        top: 20px;
    }
    &__blockDayList {
        position: relative;
        left: 220px;
        width: 300px;
        max-width: 180px;
        height: 200px;
        background: blueviolet;
     
        //background: orange;
        //max-height: 480px;
       // top: 100px;
        overflow-x: auto;
        overflow-y: auto;
        font-size: 12px;
        box-shadow: rgba(12, 104, 197, 0.2) 0px 8px 24px;
    }
}

//react-Datepicker
.react-datepicker {
    position: relative;
    left: -50px;
}
.random{
   font-size: 16px !important;
}

.react-datepicker__day-name{
   font-size: 16px;
}

.react-datepicker__current-month{
   font-size: 16px;
}

.react-datepicker__day{
   width: 38px;
   line-height: 38px;
}

.react-datepicker__day-name{
   width: 38px;
   line-height: 38px;
   color: #fff !important;
   font-weight: bold;
}

.color-blue{
   font-size: 16px;
   color: #003C71;
   font-weight: bold;
}

.react-datepicker__day--selected{
   color: cyan !important;
   border-radius: 5px !important;
   box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff !important;
   transition: all .5s !important;
   background-color: #003C71 !important;
}

.react-datepicker__header{
   background-color: #003C71 !important;
}

.react-datepicker__current-month{
   color: #f79321 !important;
}

.react-datepicker-ignore-onclickoutside{
   color: #003C71 !important;
}

.react-datepicker-ignore-onclickoutside:focus{
   outline: none !important;
   border: none !important;
   color: cyan !important;
   border-radius: 5px !important;
   box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff !important;
   transition: all .5s !important;
   background-color: #003C71 !important;
}
// ------------------------------------------------------------------------

.blockSearchTour {
    position: absolute;
    display: flex;
    // justify-content: center;
    // align-items: center;
    right: -20px;
    top: 125px;
    width: 320px;
    height: 50px;
    //background: red;
    &__inputItem {
       position: relative;
       right: 0px;
    }
    &__inputItem input {
        border-top: none;
        border-left: none;
        border-right: none;
     }
 
    &__buttonSave {
        position: relative;
        left: 20px;
    }
}

