@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import './responsive.scss';
$th-color:rgba(47,137,252,1);
$bg-th-color: whitesmoke;
$base-color: #F4F6FD;
* input:focus {
    outline: none;
 }
.blockTable {
    position: absolute;
    top: 200px;
    left: 25%;
    width: 60%;
    background: blueviolet;
    &__headTitle {
        background: black;
    }
    &__buttonGroup {
        display: flex;
        background: black;
    }
}
.blockUsersList {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 80%;
    height: 100%;
    background : white;
    font-family: 'Roboto', sans-serif;
}

//--------------------------------------STYLE EDIT USERS---------------------------------------

.blockEditUsersList {
    position: absolute;
    top: 200px;
    left: 40%;
    width: 30%;
    height: 50%;
    background: $base-color;
    &__inputItem {
        position: absolute;
        top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inputItem input {
        //position: absolute;
        margin-bottom: 20px;
    }
    &__buttonSave {
        position: absolute;
        top: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
}
.blockUserListMain {
    position: absolute;
    width: 65%;
    top: 100px;
    //height: 350px;
    box-shadow: rgba(12, 104, 197, 0.2) 0px 8px 24px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto; 
   // margin: 0px auto;
    &__table {
        width: 100%;
        height: 100%;
        thead tr {
            z-index: 9999;
        }
        &--headUserName {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
            padding: 10px 8px;
        }
        &--headEmail {
            position: sticky;
            color: $th-color;
            top: 0;
            background: $bg-th-color;
        }
        &--itemUser {
            padding: 2px 8px;
        }
        &--headActionIcon {
            position: sticky;
            top: 0;
            background: $bg-th-color;
            z-index: 10;
        }
        &--headActionIcon1 {
            position: sticky;
            top: 0;
            background: $bg-th-color;
            z-index: 10;
        }
        &--itemActionDelete {
            position: relative;
            
            // width: 50px;
            // height: 50px;
        }
        &--itemActionEdit {
            position: relative;
            // width: 50px;
            // height: 50px;
        }
    }
    &__searchItem {
        position: absolute;
        left: 17.5%;
        top: 30px;
        width: 300px;
        height: 50px;
    }
    &__blockSearchUser {
       width: 100%;
       height: 100%; 
       
       &--inputItem input{
           width: 85%;
           border-top: none;
           border-left: none;
           border-right: none;
       }
    }
    &__listItem {
        border-bottom: 1px solid gray;
    }
    &__listItem:hover {
        background: gray;
        color: whitesmoke;
        opacity: 0.8;
        transition-duration: 0.5s;
    }
    //--------------------------------------------
    &__linkToAddUser {
        position: absolute;
        //left: 450px;
        top: 30px;
        right: 16%;
        width: 100px;
        height: 50px;
        text-decoration: none;
    } 
}

.blockEditUser {
    position: absolute;
    //top: 200px;
    //left: 550px;
    width: 350px;
    height: 320px;
    //background: grey;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    &__title {
        position: relative;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        // background: yellow;
    }
    &__formEdit {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background: rebeccapurple;
    }
    &__labelEmail {
        position: relative;
        left: -20px;
    }
    &__inputItem {
        position: relative;
        margin-top: 20px;
    }
    &__inputEmail {
        position: relative;
        left: 40px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputUserName {
        position: relative;
        left: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__labelPassWord {
        position: relative;
        left: -5px;
    }
    &__inputPassWord {
        position: relative;
        left: 26px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__buttonSave {
        position: relative;
        top: 50px;
        width: 100px;
        height: 50px;
        
    }
    &__buttonSave:hover {
        cursor: pointer; 
        background: rgb(185, 39, 221);
        border-radius: 5px;
    }
}
.blockNewUser {
    position: absolute;
    //left: 550px;
    //top: 200px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    &__headerTitle {
       position: absolute; 
       top: 0px;
       color: gray;
    }
    
    &__inputUserName {
        position: relative;
        left: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputEmail {
        position: relative;
        left: 49px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputPass {
        position: relative;
        left: 17px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    &__buttonAddUser {
        position: absolute;
        margin: 20px 0px 0px 50px;
        width: 150px;
        height: 50px;
        background: rgba(47,137,252,1);
        background: -moz-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(47,137,252,1)), color-stop(100%, rgba(94,255,201,1)));
        background: -webkit-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        background: linear-gradient(135deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
    }
    &__buttonAddUser:hover {
        cursor: pointer; 
        background: rgb(185, 39, 221);
        border-radius: 5px;
    }
}
