@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
$base-color: #F4F6FD;
.blockTable {
    position: absolute;
    top: 200px;
    left: 25%;
    width: 60%;
    background: blueviolet;
    &__headTitle {
        background: black;
    }
    &__buttonGroup {
        display: flex;
        background: black;
    }
}
.blockUsersList {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 80%;
    height: 100%;
    background : white;
    font-family: 'Roboto', sans-serif;
}

//--------------------------------------STYLE EDIT USERS---------------------------------------

.blockEditUsersList {
    position: absolute;
    top: 200px;
    left: 40%;
    width: 30%;
    height: 50%;
    background: $base-color;
    &__inputItem {
        position: absolute;
        top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inputItem input {
        //position: absolute;
        margin-bottom: 20px;
    }
    &__buttonSave {
        position: absolute;
        top: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
}
.blockUserListMain {
    position: absolute;
    left: 15%;
    width: 65%;
    top: 100px;
    height: 350px;
    box-shadow: rgba(12, 104, 197, 0.2) 0px 8px 24px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto; 
    margin: 0px auto;
    &__table {
        width: 100%;
        height: 100%;
        background: paleturquoise;
        &--headUserName {
            position: sticky;
            top: 0;
            border-bottom: black;
        }
        &--headEmail {
            position: sticky;
            top: 0;
        }
        &--headActionIcon {
            position: sticky;
            top: 0;
        }
    }
    
    
    // &__userName {
    //     position: absolute;
    //     left: 0px;
    // }
    // &__email {
    //     position: absolute;
    //     right: 310px;
    // }
    // &__itemUser {
    //     position: relative;
    //     width: 35%;
    // }
    // &__itemEmail {
    //     position: relative;
    //     width: 50%;
    // }
    // &__listItemGroup {
    //     position: absolute;
    //     left: 0px;
    //     top: 30px;
    //     width: 100%;
    // }  
    // &__listItem {
    //     position: relative;
    //     background: white;
    //     box-shadow: rgba(12, 104, 197, 0.2) 0px 8px 24px; 
    //     width: 450px;
    // }
    // &__editIcon {
    //     width: 50px;
    // }
    // &__deleteIcon {
    //     width: 32px;
    // }
    // &__deleteIcon:hover {
    //     cursor: pointer;
    // }
    // &__itemIcon {
    //     display: flex;
    //     &--editIcon {
    //         margin-left: 50px;
    //     }
    // }
    // &__linkToAddUser {
    //     position: relative;
    //     left: 450px;
    //     top: 0px;
    //     width: 100px;
    //     height: 50px;
    //     text-decoration: none;
       
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    // &__searchUser {
    //     position: relative;
    //     width: 500px;
    //     height: 200px;
    //     background: red;
    // }
}

.blockEditUser {
    position: absolute;
    top: 200px;
    left: 550px;
    width: 350px;
    height: 320px;
    //background: grey;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    &__title {
        position: relative;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        // background: yellow;
    }
    &__formEdit {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background: rebeccapurple;
    }
    &__labelEmail {
        position: relative;
        left: -20px;
    }
    &__inputItem {
        position: relative;
        margin-top: 20px;
    }
    &__inputEmail {
        position: relative;
        left: 40px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputUserName {
        position: relative;
        left: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__labelPassWord {
        position: relative;
        left: -5px;
    }
    &__inputPassWord {
        position: relative;
        left: 26px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__buttonSave {
        position: relative;
        top: 50px;
        width: 100px;
        height: 50px;
        
    }
    &__buttonSave:hover {
        cursor: pointer; 
        background: rgb(185, 39, 221);
        border-radius: 5px;
    }
}
.blockNewUser {
    position: absolute;
    left: 550px;
    top: 200px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    &__headerTitle {
       position: absolute; 
       top: 0px;
       color: gray;
    }
    
    &__inputUserName {
        position: relative;
        left: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputEmail {
        position: relative;
        left: 49px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    &__inputPass {
        position: relative;
        left: 17px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    &__buttonAddUser {
        position: absolute;
        margin: 20px 0px 0px 50px;
        width: 150px;
        height: 50px;
    }
    &__buttonAddUser:hover {
        cursor: pointer; 
        background: rgb(185, 39, 221);
        border-radius: 5px;
    }
}

.blockSearchUser {
    position: absolute;
    display: flex;
    // justify-content: center;
    // align-items: center;
    left: 400px;
    top: 140px;
    width: 280px;
    height: 50px;
    //background: red;
    &__inputItem {
       position: relative;
    }
    &__inputItem input {
        border-top: none;
        border-left: none;
        border-right: none;
     }
  
 
    &__buttonSave {
        position: relative;
        left: 20px;
    }
}


// .blockUserListItem {
//     position: relative;
    
 
// }