* {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
}
*{
  font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;  
  }
.blockContainer{
    position: absolute;
    width: 85%;
    left: 15%;
    top: 60px;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 1125px) {
  .blockContainer {
    position: absolute;
    width: 80%;
    left: 20%;
  }
}
@media only screen and (max-width: 1024px) {
    .blockContainer {
      position: absolute;
      width: 74%;
      left: 23%;
      top: 100px;
      height: 100vh;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}