* {
    box-sizing: border-box;  
  }
.blockContainer{
    position: absolute;
    width: 85%;
    left: 15%;
    top: 100px;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}