$base-color: #F4F6FD;
.blockUsersList {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 80%;
    height: 100%;
    background : white;
}

//--------------------------------------STYLE EDIT USERS---------------------------------------

.blockEditUsersList {
    position: absolute;
    top: 200px;
    left: 40%;
    width: 30%;
    height: 50%;
    background: $base-color;
    &__inputItem {
        position: absolute;
        top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inputItem input {
        //position: absolute;
        margin-bottom: 20px;
    }
    &__buttonSave {
        position: absolute;
        top: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
}
.blockUserListMain {
    position: relative;
    left: 400px;
    width: 50%;
    top: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    &__listItemGroup {
        position: absolute;
        top: 30px;
        width: 100%;
    }  
    &__listItem {
        position: relative;
        background: rgb(214, 156, 185);
        width: 300px;
    }
}
// .blockUserListItem {
//     position: relative;
    
 
// }