$base-color: #82A2F4;
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.blockHeader.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.88s;
}
.blockHeader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    min-height: 50px;
    z-index: 1000;
    transition-duration: 0.9s;
    background: rgba(47,137,252,1);
	background: -moz-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(47,137,252,1)), color-stop(100%, rgba(94,255,201,1)));
	background: -webkit-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: linear-gradient(135deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
  
     &__menuLogo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: 3px;
        width: 3%;
        height: 35px;
        border-radius: 35px; 
        color: white;
        //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        //background: rebeccapurple;
    }
    &__menuLogo:hover {
        cursor: pointer;
        color: white;
    }
    &__menuLogo img {
        position: absolute;
    }
    &__groupAdmin {
        position: absolute;
        display: flex;
        right: 50px;
        top: 40px;
        width: 8%; 
        height: 50px;
        &__toolTip {
            position: absolute;
            top: -25px;
            color:white;
        }
        &__toolTip:hover {
            cursor: pointer;
        }
        &__logOut {
            cursor: pointer;
        }
        &__modalLogout {
            display: none;
            transition-duration: 0.9s;
        
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            z-index: 999999;   
            &--profile {
                padding: 5px 12px;
                color: white;
                font-family: 'Poppins', sans-serif;
                opacity: 1.5;
                border-radius: 10px;
                transition-duration: 0.9s;
            }
            &--profile:hover {
               cursor: pointer;
               background: #00d2ff;  /* fallback for old browsers */
               background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
               background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
               
               transition-duration: 0.9s;
               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            &--account {
                padding: 5px 12px;
                color: white;
            }
            &--account:hover {
                cursor: pointer;
                border-radius: 10px;
                transition-duration: 0.9s;
                background: #00d2ff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            &--logOut {
                padding: 5px 12px;
                color: white;
                z-index: 999999;   
            } 
            &--logOut:hover {
                cursor: pointer;
                border-radius: 10px;
                transition-duration: 0.9s;
                background: #00d2ff;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
        &__modalLogout.active {
            //transition-delay: 2s;
        
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 5px;
            width: 105px;
            height: 110px;
            border-radius: 5px;
            border-radius: 10px;
            background: #5433FF;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: 'Poppins', sans-serif;
            transition-duration: 0.8s;  
            opacity: 0.9; 
            z-index: 99999;       
        }
    
    }
    &__groupAdmin label{
        position: absolute;
        top: -25px;
        left: -90px;
        color: white;
        background-image: url(./giphy.gif);
        background-size:cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 10px;
        line-height: .75;
        margin: 10px 0;
        //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
    }
    &__groupAdmin img {
        position: absolute;
        top: -30px;
        width: 40%;
        height: 35px;
        border-radius: 35px;    
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &__groupAdmin img:hover {
       cursor: pointer;
       //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       box-shadow:none;
       //border-radius: 35px;
       transition-duration: 0.8s;
       
    }
    &__hambugerSideBar:hover {
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 35px;
        transition-duration: 0.7s;
    }
    &__hambugerSideBar {
        position: absolute;
        top: 5px;
        left: 1px;
        width: 65%;
        height: 50px;
        border: none;
     
    }
}

