$base-color: #82A2F4;
.blockSideBar {
    position: absolute;
    top: 100px;
    left: -300px;
    // width: 20%;
    // height: 100%;
    //background : $base-color;
    box-shadow: rgba(69, 69, 204, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    &__menuSideBar {
        list-style: none;
        // position: relative;
        // top: 50px;
        // width: 5%; 
        // height: 50px;
        //background: rebeccapurple;
    }
    &__listItem {
        cursor: pointer;
        padding: 10px 20px;
        width: 20%;
        margin-top: 10px;
        margin-left:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        //background: blue;
    }
    &__listItem:hover {
        color: blueviolet;
        //background: blueviolet;
    }

}

.blockSideBar.active {
    position: absolute;
    top: 100px;
    left: 0;
    width: 20%;
    height: 84vh;
    //background : $base-color;
    box-shadow: rgba(69, 69, 204, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}