$base-color: #F4F6FD;
$border-color: #82A2F4;

@media only screen and (max-width: 1024px) {
   //====================
   .blockLoginForm {
    position: absolute;
    font-family: 'poppin';
    top: 10%;
    width: 71%;
    left: 16%;
    border-radius: 10px;
    height: 80vh;
    font-family: 'Poppins';
    background: linear-gradient(blue, pink);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    &__inputItem{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background: yellow;
    }
    &__inputUser {
        width: 100%;
        border: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        background:transparent;
        color: white;
    }
}
   //--------------------
}
//============================
@media only screen and (max-width: 768px) {
    .blockLoginForm {
        position: absolute;
        font-family: 'poppin';
        top: 10%;
        width: 71%;
        left: 16%;
        border-radius: 10px;
        height: 80vh;
        font-family: 'Poppins';
        background: linear-gradient(blue, pink);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        
    }
}

//============================
@media only screen and (max-width: 375px) {
    .blockLoginForm {
        position: absolute;
        font-family: 'poppin';
        top: 10%;
        width: 71%;
        left: 16%;
        border-radius: 10px;
        height: 80vh;
        font-family: 'Poppin';
        background: linear-gradient(blue, pink);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        //====================================================================================
        &__title {
           position: absolute;
           color: white;
           font-weight: 700;
           top: 100px;
        }
        &__inputItem{
            width: 90%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //background: yellow;
        }
        &__inputItemUser {
            padding: 25px;
        }
        &__inputUser {
            width: 100%;
            border: 1px solid white;
            border-top: none;
            border-left: none;
            border-right: none;
            background:transparent;
            color: white;
        }
        &__inputUser::placeholder {
            color: white;
        }
        &__inputUser:focus {
            outline: none;
        }
        &__inputPassWord {
            width: 100%;
            border: 1px solid white;
            border-top: none;
            border-left: none;
            border-right: none;
            background:transparent;
           // left: 15px;
        }
        &__inputPassWord::placeholder {
            color: white;
        }
        &__inputPassWord:focus {
            outline: none;
        }
        // div {
        //     margin-top: 20px;
        // }
        &__buttonSave {
            position: relative;
            top: 55px;
            //@debug: 12%;
            width: 220px;
            height: 50px;
            border-radius: 100px;
            border: none;
            font-weight: 700;
            color: white;
            background: linear-gradient(to top, black, 20%, cyan);
            opacity: 0.7;   
        }
        &__buttonSave:hover {
            cursor: pointer;
            background: linear-gradient(blue, pink);
            transition-duration: 0.2s;
        }
        &__error {
            // position: absolute;
            // top: 130px;
            // left: 137px;
            // color: red;
    
        }
        &__errorPass {
            // position: absolute;
            // top: 175px;
            // left: 137px;
            // color: red;
        }
    }
    
}

@media only screen and (max-width: 280px) {
    .blockLoginForm {
        position: absolute;
        font-family: 'poppin';
        top: 10%;
        width: 80%;
        left: 10%;
        border-radius: 10px;
        height: 80vh;
        font-family: 'Poppins';
        background: linear-gradient(blue, pink);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
    }
    &__inputPassWord {
        width: 50%;
        border: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        background:transparent;
       // left: 15px;
    }
}